.popup {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
}