.footer__author {
  font-size: 18px;
  font-weight: normal;
  line-height: 0.9;
  color: #545454;
  margin: 0;
  padding: 0;
}

@media screen and (max-width:768px) {
  .footer__author{
    font-size: 14px;
  }
}