.popup__close-btn {
  margin: 0;
  padding: 0;
  background-image: url(../../../images/Close_btn.svg);
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  position: absolute;
  top: -40px;
  right: -40px;
  transition: opacity .5s linear;
}


.popup__close-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width:768px) {
  .popup__close-btn{
    background-image: url(../../../images/Close_sml_btn.svg);
    right: 0px;
    top: -35px;
    width: 20px;
    height: 20px;
  }
}