.profile{
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 40px;
  min-height: 160px;
  max-width: 880px;
}

@media screen and (max-width:1024px) {
  .profile {
    max-width: 700px;
  }
}

@media screen and (max-width:768px) {
  .profile{
    flex-direction: column;
    padding-top: 42px;
    height: fit-content;
  }
}