.profile__info {
    display: grid;
    grid-template-areas:
    "name button"
    "description .";
    align-items: center;
    padding: 0;
    
}

@media screen and (max-width: 720px) {
    .profile__info {
        width: 282px;
        justify-items: center;
        grid-template-areas:
        "name button"
        "description description";
        column-gap: 10px;
    }
}