.popup__form {
    padding: 54px 36px 37px;
    display: flex;
    flex-direction: column;
    margin: 0;
    z-index: 3;
}

@media screen and (max-width: 550px) {
    .popup__form {
        padding: 75px 22px 25px;
    }
}