.elements__delete-button {
    position: absolute;
    top: 20px;
    right: 20px;
    /*margin: 30px 20px 30px auto;*/
    background-image: url(../../../images/delete-card-button.svg);
    width: 18px;
    height: 19px;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    padding: 0;
    transition: opacity 0.5s;  
}

.elements__delete-button:hover {
    opacity: 50%;
    cursor: pointer;
}