.elements {
    max-width: 880px;
    margin: 0 auto 66px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    column-gap: 17px;
    grid-template-rows: repeat(auto-fit, minmax(282px, 1fr));
    row-gap: 20px;
    justify-items: center;
}

@media screen and (max-width: 1100px) {
    .elements {
        margin: 0px 100px 66px;
    }
}

@media screen and (max-width: 880px) {
    .elements {
        margin: 0px 19px 48px;
    }
}