.profile__description {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    grid-area: description;
    margin: 16px auto auto 0;
}

@media screen and (max-width: 720px) {
    .profile__description {
        margin: 14px auto 36px auto;
        align-self: center;
        justify-self: center;
        text-align: center;
        max-width: calc(100vw - 38px);
        font-size: 14px;
        line-height: 17px;
    }
}