.profile__description {
    max-width: 336px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    grid-area: description;
    margin: 16px auto auto 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media screen and (max-width: 720px) {
    .profile__description {
        max-width: 282px;
        margin: 14px auto 36px auto;
        align-self: center;
        justify-self: center;
        text-align: center;
        font-size: 14px;
        line-height: 17px;
    }
}