.popup__input-block {
    width: 100%;
    margin: auto 0 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 0;
    height: 27px;
    /*добавляю фиксированную высоту для корректного отображения
    в pixel perfect. Если указывать значения межблочных расстояний
    как в Figma то возникает отклонение от внешнего вида, т.к
    в Фигме расстояние между текстовыми блоками считается по линии текста,
    а не от края букв, которые выступают ниже линии (например: у, д, р, ф и др.)*/
}

.popup__input-block:last-of-type {
    margin: 0;
}